[submodule "PythonUtils"]
	path = test/PythonUtils
	url = git@github.com:pasccom/PythonUtils.git
[submodule "ConsoleCapture"]
	path = test/ConsoleCapture
	url = git@github.com:pasccom/ConsoleCapture.git
