.kc-flag {
    display: inline;
    vertical-align: bottom;
    position: relative;
    opacity: 0.5;
    width: 32px;
    margin-left: -32px;
}

.kc-div {
    display: block;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 0px;
}
